# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual environments
venv/
.venv/

#Jupyter checkpoints
.ipynb_checkpoints
.DS_Store

#SExtractor
srcext/*.cat

#Gif folders
Figures/dwf_gif/
Figures/vectorgif/

#Big files
dwfflare/
dwfflare_rubin_v19/

output.png
baseline_v3.0_10yrs_airmass.csv
baselines_airmasses.csv
